@model DashboardModel

<h2>Dashboard</h2>

<p>Averages words per day: @Model.AverageWordsPerDay</p>

<p>
    Words written today: @Model.WordsWrittenToday/@Model.MaxWordsPerDay words
</p>

<div class="progress">
    <div class="progress-bar" role="progressbar" style="width: @((double)Model.WordsWrittenToday / Model.MaxWordsPerDay * 100)%;">
        @Model.WordsWrittenToday/@Model.MaxWordsPerDay
    </div>
</div>





