.dashboard-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #6B9080;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }
  
  .section {
    margin-bottom: 20px;
  }
  
  .info-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
  }
  
  .progress-bar {
    margin-bottom: 15px;
  }
  
  .progress {
    height: 20px;
    background-color: #e0e0e0;
    border-radius: 4px;
    overflow: hidden;
  }
  
  .progress-inner {
    height: 100%;
    background-color: #A4C3B2;
    border-radius: 4px;
  }
  .dashboard-container.minimized {
    margin-left: 60px; /* Adjust this value to match the minimized Navbar width */
  }