/* Navbar.css */
.navbar {
  width: 250px;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  background-color: #333;
  color: white;
  transition: width 0.3s ease;
}

.navbar.minimized {
  width: 60px;
}

.navbar button img {
  width: 80%; /* Adjust this percentage to control the width of the logo */
  height: auto; /* Maintain aspect ratio */
}

.navbar ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.navbar ul li {
  border-radius: 8px;
  border: 2px solid #333;
}

.navbar ul li a {
  display: block;
  padding: 10px;
  text-decoration: none;
  color: burlywood;
  transition: background-color 0.3s ease;
}

.navbar ul li a:hover {
  background-color: #555;
}
.navbar ul li a img.icon-minimized {
  width: 80%; /* Adjust this percentage to control the width of the minimized icon */
  height: auto; /* Maintain aspect ratio */
}
.navbar ul li a img {
  width: 20px; /* Set to a specific pixel value or use em/rem units to match font size */
  height: auto; /* Maintain aspect ratio */
  margin-right: 10px;
}
